.sidebar{
    width: 20%;
    color: white;
    overflow: auto;
    background:  linear-gradient(135deg, #222E50, #439A86);
    position: fixed;
    display: inline;
    overflow: hidden;
    height: 100%;
    padding: 2%;
}

.menu-item{
    cursor: pointer;
    flex: auto;
    flex-direction: row;
    margin: 3%;
    padding: 3%;
    &:hover {
        background: linear-gradient(135deg, #BCD8C1, #439A86); 
    }
}

.menu{
    margin: 4%;

}

.settings{
    margin-top: 10%;
    border-top: 2px solid #BCD8C1; 
    padding-top: 5px;
}

.btn-new{
    background:  linear-gradient(135deg, #BCD8C1, #439A86);
    color: #222E50;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    margin: 10%;
}

.settings-btn{
    background:  linear-gradient(135deg, #BCD8C1, #439A86);
    color: #222E50;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    border-radius: 5px;
    border: none;
}
