.wrapper {
  display: flex;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  width: 80%;
}
.mainContent h1 {
  margin: 30px 0;
}
.accountInfo {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 20px 0;
}
hr {
  margin-top: 5px;
}

.paymentTable {
  width: 100%;
  overflow-x: auto;
}

.tableRoot {
  width: 100%;
  border-collapse: collapse;
}
.tableRoot thead th {
  border-top: none;
}
.tableItem {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
.tableItem:first-child {
  border-left: none;
}
.tableItem:last-child {
  border-right: none;
}
button,
.bulkUpload {
  background: linear-gradient(135deg, #222e50, #439a86);
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover,
.bulkUpload:hover {
  background: linear-gradient(135deg, #bcd8c1, #222e50);
  transform: scale(1.05);
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Active (Click) Effect */
button:active,
.bulkUpload:active {
  transform: scale(0.98);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}
.filterDate {
  background-color: #222e50;
  color: white;
  padding: 10px 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px 0 20px 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* On hover */
select:hover {
  border-color: #007bff;
}

/* When focused */
select:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

/* Dropdown options */
select option {
  padding: 10px;
  font-size: 14px;
  background-color: white;
  color: #333;
}

/* Customize the dropdown arrow */
select::-ms-expand {
  display: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23007bff'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 30px; /* Space for the arrow */
}
