.title{
    margin: 40px 20px;
}
.contributionsTable{
    margin: 30px 20px;
}
.title button{
    background: linear-gradient(135deg, #222E50, #439A86);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
  }
  .title button:hover {
      background: linear-gradient(135deg,#BCD8C1, #222E50);
      transform: scale(1.05);
      box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
    }
    
    /* Active (Click) Effect */
    .title button:active {
      transform: scale(0.98);
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    }